.header {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    transition: background-color 0.2s ease-in-out;
}

.header.black {
    background-color: black;
}

.header__left {
    display: flex;
}

.header__iconButton {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: rgba(26, 26, 26, 0.801);
    margin-right: 16px;
    cursor: pointer;
}

.header__iconButton > .MuiSvgIcon-root { 
    margin-left: 8px;
    margin-top: 7px;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right > button {
    background-color: black;
    color: white;
    padding: 8px 34px;
    border-radius: 500px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.685);
    margin-right: 30px;
    cursor: pointer;
    text-align: center;
}

.header__right > button:hover {
    transform: scale(1.05);
}