.songRow {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.songRow > .MuiSvgIcon-root {
    position: absolute;
    right: 40px;
    display: none;
}

.songRow:hover > .MuiSvgIcon-root {
    display: grid;
}

.songRow__title {
    display: flex;
    min-width: 250px;
}

.songRow__index {
    margin-right: 20px;
}

.songRow__songArtist,
.songRow__songAlbum,
.songRow__songAdded,
.songRow__songDuration {
    color: gray;
}

.songRow:hover {
    cursor: pointer;
    background-color: rgba(114, 114, 114, 0.178);
    border-radius: 5px;
}

.songRow:hover p {
    color: white;
}

.songRow__album {
    height: 45px;
    margin-right: 15px;
}

.songRow__songName {
    font-size: 14px;
}

.songRow__songArtist {
    font-size: 12px;
    margin-top: 3px;
}

.songRow__songAlbum {
    min-width: 140px;
}

.songRow__songDuration {
    margin-right: 25px;
}

@media (max-width: 990px) {
    .songRow__songAdded {
        display: none;
    }
}