.body {
    display: flex;
    flex-direction: column;
    margin-left: 246px;
    flex: 1;
    color: white;
    min-height: 100vh;
    padding-bottom: 89px;
}

.body__container {
    position: sticky;
    top: 0;
}

.body__helper {
    margin-top: -60px;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85));
}

.body__info {
    margin-top: 70px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 25px;
    
}

.body__info > img {
    height: 192px;
    width: 192px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__infoText {
    margin-left: 30px;
    margin-top: 15px;
    flex: 1;
}

.body__infoText > h2 {
    font-size: 90px;
    margin-bottom: 10px;
}

.body__infoText > p {
    font-size: 14px;
    font-weight: 700;
}

#body__songCount {
    color: rgb(184, 184, 184);
}


/* Below side of Player body */
.body__songs {
    color:rgb(184, 184, 184);
    flex: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 1));
}

.body__favIcon {
    color: #1db954;
    margin-right:25px;
}

.body__songs .MuiSvgIcon-root:hover {
    color: white;
}

.body__icons {
    display: flex;
    align-items: center;
    padding: 24px 32px;
}

/* Play button attributes */
.body__playButton {
    color: white;
    height: 55px;
    width: 55px;
    background-color: #1db954;
    border-radius: 50%;
    margin-right: 30px;
}

.body__playButton:hover {
    transform: scale(1.05);
}

.body__playButton > svg {
    margin-left: 13px;
    margin-top: 13px;
}


/* Song list */
.body__contents {
    padding: 0 32px;
}

/* Separator */
.body__separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.247);
    margin-bottom: 15px;
}

.body__nameIndex {
    min-width: 250px;
}

.body__albumIndex {
    min-width: 140px;
}

.body__addedIndex {
    margin-right: 80px;
}

@media (max-width: 990px) {
    .body__addedIndex {
        display: none;
    }

    .body__albumIndex {
        margin-right: 40px;
    }
}