.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: #282828;
}

.footer__icon:hover,
.footer__playerIcon:hover {
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.footer__playerIcon:hover {
    transform: scale(1.05);
}
.footer__left {
    flex: 0.33;
    display: flex;
    align-items: center;
    color:  rgb(184, 184, 184);
    min-width: 350px;
    max-width: 350px;
}

.footer__albumLogo {
    margin: 0 15px;
    height: 55px;
    width: 55px;
    object-fit: contain;
}

.footer__songInfo {
    flex: 1;
}

.footer__songInfo > h4 {
    color: white;
    font-size: 14px;
    margin-bottom: 3px;
}

.footer__songInfo > p {
    font-size: 12px;
}

.footer__center {
    flex: 0.4;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__centerTop > .MuiSvgIcon-root {
    margin-right: 25px;
}

.footer__right {
    min-width: 240px;
    flex: 0.33;
    display: flex;
    color:  rgb(184, 184, 184);
    margin-right: 15px;
}

.footer__right > .MuiGrid-root {
    justify-content: flex-end;
    align-items: center;
}

.footer__right * .MuiSlider-root {
    color: green;
    width: 100px;
}

.footer__copyright {
    text-align: center;
}

.footer__copyright > h4 {
    color: white;
    font-size: 14px;
}

.footer__copyright > p {
    font-size: 12px;
}
