.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background: url('../../images/black-aqua-chernaya-voda.jpg') center center no-repeat;
    background-size: cover;
    /* background-color: black; */
}

.login > img {
    width: 100%;   
}

.login > a {
    padding: 10px 45px;
    border-radius: 99px;
    background-color: #1db954;
    font-weight: 800;
    color: white;
    text-decoration: none;
}